<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
    </head>
    <body>
        {% block body %}
            {% block sonata_page_container %}
                {% block header %}
                    {{ sonata_page_render_container('header', page) }}
                {% endblock %}
                {% if page is defined %}
                    <div class="row content-top">
                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_top', 'global') }}
                        {% endif %}
                        {{ sonata_page_render_container('content_top', page) }}
                    </div>
                {% endif %}

                <div class="row content">
                    {% block page_content %}
                        {% if content is defined %}
                            {{ content|raw }}
                        {% else %}
                            {% set content = block('content') %}
                            {% if content|length > 0 %}
                                {{ content|raw }}
                            {% elseif page is defined %}
                                {% block content %}
                                    {{ sonata_page_render_container('content', page) }}
                                {% endblock %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>

                {% if page is defined %}
                    <div class="row content-bottom">
                        {{ sonata_page_render_container('content_bottom', page) }}

                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_bottom', 'global') }}
                        {% endif %}
                    </div>
                {% endif %}
            {% block footer %}
                <footer class="row footer">
                    {{ sonata_page_render_container('footer', 'global') }}
                </footer>
             {% endblock %}
            {% endblock %}

        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/main.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
