{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="{{ asset('bundles/app/images/download.jpg') }}" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="{{ asset('bundles/app/images/cover.jpg') }}" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="{{ asset('bundles/app/images/img111.jpg') }}" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small>Welcome to</small>
            </h2>
            <h1 class="brand-name">{{  settings.title }}</h1>
            <hr class="tagline-divider">
            <h2>
                <strong>
                    {% if  block.translate(app.request.locale).translatableFields %}
                        {{ block.translate(app.request.locale).translatableFields.description|raw }}
                    {% else %}
                        {{ settings.description }}
                    {% endif %}
                </strong>
            </h2>
        </div>
    </div>
    {#<h3 class="sonata-feed-title margin-15">{{ settings.title }}</h3>#}
    {#<h4 class="sonata-feed-title margin-15">#}
        {#{% if  block.translate(app.request.locale).translatableFields %}#}
            {#{{ block.translate(app.request.locale).translatableFields.description|raw }}#}
        {#{% else %}#}
            {#{{ settings.description }}#}
        {#{% endif %}#}
    {#</h4>#}

    {#{% for product in products %}#}
        {#<div class="margin-15">#}
            {#<h2>{{ product.title }} - category {{ product.category.name }}</h2>#}
            {#<p>{{ product.rawDescription|raw }} {{ product.createdAt|date('F, d') }}</p>#}
            {#<div class="margin-bottom-30">#}
                {#{% if product.gallery %}#}
                {#{% for img in product.gallery.galleryHasMedias %}#}
                    {#{% if loop.index <= settings.nrPhotos %}#}
                        {#<img style="width: 150px; height: 150px" src="{% path img.media, 'reference' %}">#}
                    {#{% endif %}#}
                {#{% endfor %}#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}
    {#{% endfor %}#}
{% endblock %}
