{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    {% for i in 1..gallery.galleryHasMedias|length %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ i }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for img in gallery.galleryHasMedias %}
                        <div class="item {{ loop.index == 1 ? 'active' : '' }}">
                            <img class="img-responsive img-full" src="{% path img.media, 'reference' %}" alt="">
                        </div>
                    {% endfor %}
                    {#<div class="item">#}
                        {#<img class="img-responsive img-full" src="{{ asset('bundles/app/images/cover.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="item">#}
                        {#<img class="img-responsive img-full" src="{{ asset('bundles/app/images/img111.jpg') }}" alt="">#}
                    {#</div>#}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small>Welcome to</small>
            </h2>
            <h1 class="brand-name">{{  settings.title }}</h1>
            <hr class="tagline-divider">
            <h2>
                <strong>
                    {% if  block.translate(app.request.locale).translatableFields %}
                        {{ block.translate(app.request.locale).translatableFields.description|raw }}
                    {% else %}
                        {{ settings.description }}
                    {% endif %}
                </strong>
            </h2>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })

        })
    </script>
{% endblock %}

